/* -------- CSS HEADER -------- */

.headerdesktop
{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.logo
{
    height: 60%;
    margin-top: 25px;
}

.menu
{
    display: flex;
}

.listmenu
{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 8px;
}

.listelement
{
    width: 200px;
    margin-top: -24px;
    padding: 40px 0px 0px 0px;
    font-size: 1.4em;
}

.listelement:hover
{   
    border-top: 2px solid #0065FC; 
}

.linkmenu:hover
{
    color: #0065FC;
}

.btnregistration
{
    font-family: "Ralewaybold";
    color: #0065FC;
    padding-left: 15px;
    padding-top: 32px;
    font-size: 1.4em;

}

@media all AND (max-width: 2139px)
{
    /* -------- CSS HEADER -------- */

    .logo
    {
        height: 50%;
    }

    .listmenu
    {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        text-align: center;
        margin-right: 8px;
    }

    .listelement
    {
        width: 150px;
        margin-top: -24px;
        padding: 40px 0px 0px 0px;
        font-size: 1.2em;
    }

    .btnregistration
    {
        font-family: "Ralewaybold";
        color: #0065FC;
        padding-left: 15px;
        padding-top: 32px;
        font-size: 1.2em;
    }
}

@media all AND (max-width: 1095px)
{
    .headerdesktop
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }

    .logo
    {
        width: 15%;
        height: 35%;
        margin-left: 20px;
    }

        .menu
    {
        display: flex;
    }

    .listmenu
    {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        text-align: center;
        margin-right: 8px;
    }

    .listelement
    {
        margin-top: 0px;
        padding: 0px 0px 0px 0px;
        border: 1px solid #000;
    }

    .listelement:hover
    {   
        border-top: none; 
        border-bottom: 2px solid #0065FC;
    }
    .btnregistration
    {
        padding-left: 15px;
        padding-top: 32px;
    }
}