/* -------- CSS ALL WEBSITE -------- */

*
{
    font-family: "Raleway";
}

header
{
    width: 80%;
    margin: auto;
}

main
{
    width: 80%;
    margin: auto;
}

footer
{
    width: 83%;
    margin: auto;
    margin-bottom: -20px;   
}


a
{
    text-decoration: none;
    color: black;
}

