/* -------- CSS ALL WEBSITE -------- */

*
{
    font-family: "Raleway";
}

html,body
{
    margin: 0px;
    padding: 0px;
}

header
{
    width: 80%;
    margin: auto;
}

main
{
    width: 80%;
    margin: auto;
}

footer
{
    width: 100%;
    margin: auto;
    margin-bottom: -20px;   
}


a
{
    text-decoration: none;
    color: black;
}

@media all AND (max-width: 1095px)
{
    html,body
    {
        margin: 0px;
        padding: 0px;
    }

    header
    {
        width: 100%;
    }

    main
    {
        width: 100%;
        margin-top: 18px;
    }
}


